/*
===============
General Styles
===============
*/

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("midCenturyBuild.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
}

.page-header {
    background-color: rgb(131, 131, 131);
}

#header-line {
    box-shadow: 0 2px 4px grey;
}

#footer-line {
    box-shadow: 0 -2px 4px grey;
}

.footer-line {
    background-color: gold;
}

.page-footer {
    background-color: rgb(131, 131, 131);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-line {
    background-color: gold;
}

.about {
    background: white;
    width: auto;
    height: auto;
    padding: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(131, 131, 131);
}

.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*
==================
Home Page Styling
==================
*/

.img-dec {
    float: left;
    height: 225px;
    margin: 25px 25px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
==================
Portfolio Styling
==================
*/

.contain {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    transition: .5s ease;
}

.contain:hover .overlay {
   background-color: rgba(128,128,128,0.8);
}

.contain:hover .text {
    opacity: 1;
 }

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*
================
Contact Styling
================
*/

.button-color {
    background-color: gold;
}

/*
===================
Responsive Styling
===================
*/

@media only screen and (max-width: 992px) {
    img {
        height: 125px;
    }
}

@media only screen and (max-width: 768px) {
    img {
        height: 125px;
    }

    .img-dec {     
        margin: 20px 25px 10px 10px;
    }

    .about {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
@media only screen and (max-width: 576px) {
    img {
        height: 75px;
    }

    .img-dec {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

